<div class="vti-before-after">
  <div class="vti-before-after__panel vti-before-after__panel--before">
    <div class="vti-before-after__label">{{BEFORE_LABEL}}</div>
    <div class="vti-before-after__title">{{BEFORE_TITLE}}</div>
    <ul class="vti-before-after__list">
      {{BEFORE_ITEMS}}
    </ul>
  </div>
  <div class="vti-before-after__arrow" aria-hidden="true">
    <svg viewBox="0 0 32 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 8 H28 M22 2 L28 8 L22 14" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
  <div class="vti-before-after__panel vti-before-after__panel--after">
    <div class="vti-before-after__label">{{AFTER_LABEL}}</div>
    <div class="vti-before-after__title">{{AFTER_TITLE}}</div>
    <ul class="vti-before-after__list">
      {{AFTER_ITEMS}}
    </ul>
  </div>
</div>
