<div class="vti-gauge">
  <svg viewBox="0 0 200 130" preserveAspectRatio="xMidYMid meet"
       class="vti-gauge__svg" xmlns="http://www.w3.org/2000/svg">
    <path class="vti-gauge__track"
          d="M 20 110 A 80 80 0 0 1 180 110"
          stroke-width="18" fill="none" stroke-linecap="round"/>
    <path class="vti-gauge__fill"
          d="{{FILL_PATH}}"
          stroke-width="18" fill="none" stroke-linecap="round"/>
    <text class="vti-gauge__value" x="100" y="92">{{VALUE_TEXT}}</text>
    <text class="vti-gauge__suffix" x="100" y="115">{{SUFFIX}}</text>
  </svg>
  {{LABEL_HTML}}
</div>
